* {
  margin: 0;
  padding: 0;
}
main {
  width: 96%;
  margin: 25px;
  display: grid;
  grid-template-columns: 16.8% 16.8% 16.8% 16.8% 16.8% 16.8%;
}

#conten {
  border: 3px solid rebeccapurple;
  margin: 10px;
  text-align: center;
}
img {
  width: 80%;
}

p {
  margin-left: 15%;
}
table {
  margin-left: 2%;
}
.img {
  width: 10%;
}
#img {
  width: 100%;
}
.text {
  margin: 0;
}
